<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Стартовый шаблон
	link(rel="stylesheet", href="css/main.min.css")
body
	.main
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur pariatur molestias, voluptatem ut maiores delectus deserunt ad autem iusto dolore. Natus, dolore molestiae dolorum voluptate corrupti ducimus quam ullam, culpa neque? Sit consequuntur accusamus deserunt, sunt architecto aspernatur doloribus culpa temporibus, beatae, velit labore maiores laborum repudiandae voluptates esse veritatis. Ut eligendi dolorum architecto aut ab voluptatibus ipsum laudantium praesentium facilis sint voluptas quaerat, nostrum eos quae recusandae facere quibusdam consequuntur odit, quam molestias placeat, dolores! Dolorum ipsum neque ratione odit quae, explicabo. Recusandae facilis, officia iure, tempore ipsam natus impedit vel, sapiente aliquid itaque aspernatur! Accusamus molestias asperiores, quasi?
	script(src='js/app.js')