<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Стартовый шаблон
	link(rel="stylesheet", href="css/main.min.css")
body
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolorum eum officia, inventore accusamus saepe nam fugit, quos dolore voluptas exercitationem debitis nesciunt mollitia nostrum totam voluptatibus. Consequuntur porro aliquid laboriosam. Ipsum minima possimus, maxime ab nobis sit omnis magni provident repudiandae enim fugiat eos, magnam voluptatum tenetur unde! Error quaerat repellat earum sint at dolor, nesciunt fuga facere esse inventore amet vel quam impedit consectetur beatae assumenda, tenetur alias quae. Suscipit, perferendis, aliquid. Dicta inventore eligendi nobis porro quia nam. Accusantium nam rem expedita voluptate laudantium vitae minus? Non aut, doloribus laborum eaque. Magni recusandae voluptatem asperiores, possimus et.
	script(src='js/app.js')