<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Стартовый шаблон
	link(rel="stylesheet", href="css/main.min.css")
body
	header Хедер
	nav Меню
	aside Боковая панель
	main Основной контент
		section Секция
		section Секция
		section Секция
	footer Фетер





	script(src='js/app.js')